<div class="header">
    <div class="header__top">
        <div class="row">
            <div class="header__menu col-md-4">
                <div class="row">
                    <div class="menu__icon"><i class="fas fa-bars"></i></div>
                    <div class="menu__content"><span>menu</span></div>
                    <div class="menu__search"><i class="fas fa-search"></i></div>
                </div>
            </div>
            <div class="header__logo col-md-4">
                <span>vicky</span>face</div>
            <div class="header__personal col-md-4">
                <div class="row">
                    <div class="personal__user"><span><i class="fas fa-user"></i></span></div>
                    <div class="personal__heart"><span><i class="fas fa-heart"></i></span></div>
                    <div class="personal__cart"><span><i class="fas fa-shopping-basket"></i></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__banner">
        <div class="trapezoid--left"></div>
        <div class="trapezoid--right"></div>
    </div>
</div>
<div class="warper">
    <div class="warper__top">
        <div class="row">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="assets/1.jpg" alt="1" width="370" height="555">
                        <p>kyliner kit</p>
                        <p>32 products</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="assets/2.jpg" alt="1" width="370" height="555">
                        <p>kyliner kit</p>
                        <p>32 products</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="assets/3.jpg" alt="1" width="370" height="555">
                        <p>kyliner kit</p>
                        <p>32 products</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="warper__arrivals">
        <div class="arrivals__title">new arrivals</div>
        <div class="row" style="border-top: 2px solid #eaeaea">
            <div class="row text-center">
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/1.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/2.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/3.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/3.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/3.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/3.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="warper__products">
        <div class="products__title">featured products</div>
        <div class="row" style="border-top: 2px solid #eaeaea">
            <div class="row text-center">
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/1.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/2.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/3.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/3.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/3.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="assets/3.jpg" alt="1" width="170" height="200">
                        <p class="name">lipstick</p>
                        <p class="type">orgnic</p>
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <br>
                        <p class="save"></p>
                        <p class="price">$25.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="warper__banner">
        <div class="banner__box">
            <div class="row">
                <div class="col-2 ">
                    <div class="banner__avatar">Avatar</div>
                </div>
                <div class="col-9">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <div class="banner__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus necessitatibus nemo alias at aliquam illum rerum quo commodi sit quibusdam tenetur quis repellat enim!. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Odio, ullam?</div>
                    <div class="banner__author">
                        <span>Kelly clackson</span>-Maketer
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="warper__support">
        <div class="row text-center">
            <div class="col-md-4 " style="padding-left: 25px; padding-right: 25px;">
                <div class="support__icon icon--center">
                    <i class="fas fa-truck"></i>
                </div>
                <p>free shipping</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere non maiores labore obcaecati! Unde ut pariatur dignissimos voluptates. </p>
            </div>
            <div class="col-md-4 " style="border-left: 1px solid #f4f4f4; border-right: 1px solid #f4f4f4;padding-left: 25px; padding-right: 25px;">
                <div class="support__icon icon--center ">
                    <i class="fas fa-gift"></i>
                </div>
                <p>free shipping</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere non maiores labore obcaecati! Unde ut pariatur dignissimos voluptates. </p>
            </div>
            <div class="col-md-4 " style="padding-left: 25px; padding-right: 25px;">
                <div class="support__icon icon--center">
                    <i class="fas fa-phone-volume"></i>
                </div>
                <p>free shipping</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia facere non maiores labore obcaecati! Unde ut pariatur dignissimos voluptates. </p>
            </div>
        </div>
    </div>
    <div class="warper__tips">
        <div class="tips__title">makeup tips for you</div>
        <div class="row" style="border-top: 2px solid #eaeaea; padding-top:40px">
            <div class="col-md-6">
                <div class="tips__image">
                    <img src="assets/3.jpg" alt="1" width="383" height="240">
                    <div class="tips__date"><span>28</span><br>Dec</div>
                </div>
                <div class="tips__text">
                    <p>Lorem ipsum dolor sit </p>
                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni veniam cum autem.</P>
                    <a href="#">readmore</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tips__image">
                    <img src="assets/3.jpg" alt="1" width="383" height="240">
                    <div class="tips__date"><span>28</span><br>Dec</div>
                </div>
                <div class="tips__text">
                    <p>Lorem ipsum dolor sit </p>
                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni veniam cum autem.</P>
                    <a href="#">readmore</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tips__image">
                    <img src="assets/3.jpg" alt="1" width="383" height="240">
                    <div class="tips__date"><span>28</span><br>Dec</div>
                </div>
                <div class="tips__text">
                    <p>Lorem ipsum dolor sit </p>
                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni veniam cum autem.</P>
                    <a href="#">readmore</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tips__image">
                    <img src="assets/3.jpg" alt="1" width="383" height="240">
                    <div class="tips__date"><span>28</span><br>Dec</div>
                </div>
                <div class="tips__text">
                    <p>Lorem ipsum dolor sit </p>
                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni veniam cum autem.</P>
                    <a href="#">readmore</a>
                </div>
            </div>
        </div>
    </div>
    <div class="warper__instagram">
        <div class="instagram__title"><i class="fab fa-instagram"></i> follow us on instagram</div>
        <div class="row" style="border-top: 2px solid #eaeaea; padding-top:50px;">
            <div class="col-lg-2">
                <img src="assets/1.jpg" alt="1" width="383" height="240">
            </div>
            <div class="col-lg-2">
                <img src="assets/3.jpg" alt="1" width="383" height="240">
            </div>
            <div class="col-lg-2">
                <img src="assets/1.jpg" alt="1" width="383" height="240">
            </div>
            <div class="col-lg-2">
                <img src="assets/3.jpg" alt="1" width="383" height="240">
            </div>
            <div class="col-lg-2">
                <img src="assets/1.jpg" alt="1" width="383" height="240">
            </div>
            <div class="col-lg-2">
                <img src="assets/3.jpg" alt="1" width="383" height="240">
            </div>
        </div>
    </div>
    <div class="warper__subscribe">
        <div class="subscribe__title"> don't miss out!</div>
        <div class="subscribe__text"> subscribe to out newsletter to get latest news about your products.</div>
        <div class="subscriber__email">
            <form>
                <input type="text" class="text-search" placeholder="Search.." name="Your email here...">
                <button type="submit" class="btn-search">Subcribe</button>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer__top_background">
        <div class="footer__top">
            <div><span>home</span></div>
            <div><span>about vickyface</span></div>
            <div><span>faqs</span></div>
            <div><span>shipping policy</span></div>
            <div><span>privacy policy</span></div>
            <div><span>term of you</span></div>
            <div><span>contact us</span></div>
        </div>
    </div>
    <div class="footer__icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-p"></i>
    </div>

</div>